.button {
  @include reset-button;

  width: 280px;
  height: 60px;
  color: var(--color-white);
  background-image: url(../../images/icons/button-tr.svg);
  font-weight: 700;

  &--wrapper {
    width: 280px;
    height: 60px;
    background-image: url(../../images/icons/puddle.svg);
  }
}
